*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    box-sizing: border-box;
}
body{
   background-color: rgb(105, 86, 175);
}
.head{
    text-transform: uppercase;
    font-size:30px;
    color:white;
    text-decoration:dotted !important;
}
.button{
    margin-top: 50px;
    text-align: center;
}
.button button{
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    margin: 5px;
    text-transform: uppercase;

}
.button button:hover{
   cursor: pointer;
   background-color: rgb(103, 202, 116);
   color: black;
}
#toastBox{
    position:absolute;
    bottom:30px ;
    right:30px ;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    text-transform: uppercase;
    padding: 20px 20px;
    
}
.toast{
    width:300px;
    height:50px;
    background:#fff;
    font-weight:500;
    margin:12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft{
    100%{
        transform: translateX(0);
    }
}
.toast i{
    margin: 0 18px;
    font-size: 30px;
    color: rgb(6, 105, 6) ;
}
.toast.error i{
    margin: 0 18px;
    font-size: 30px;
    color: rgb(253, 17, 17) ;
}
.toast.Invalid i{
    margin: 0 18px;
    font-size: 30px;
    color: rgb(248, 125, 43) ;
}
.toast::after{
    content: '';
    position: absolute;
    margin:0px;
    left: 30px;
    bottom: 50px;
    width: 300px;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
    width: 0;
}
}
.toast.error::after{
    background: rgb(253, 17, 17) ;

}
.toast.Invalid::after{
    background: rgb(248, 125, 43) ;
}